# Data Aggregation and Group Operations

In [2]:
import pandas as pd
import numpy as np

## GroupBy mechanics

In [3]:
df = pd.DataFrame({'key1' : list('aabba'),
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5) * 20 + 10,
                   'data2' : np.random.randn(5) * 3 + 2})
df

  key1 key2      data1     data2
0    a  one  30.916193  3.707129
1    a  two  18.888989  3.564747
2    b  one  25.916005  2.612066
3    b  two  16.259812 -0.281612
4    a  one  12.224127  2.010411

In [4]:
df.groupby('key1')

In [5]:
df.groupby('key1').mean()

          data1     data2
key1
a     20.676436  3.094096
b     21.087908  1.165227

In [8]:
double_grouped = df.groupby(['key1', 'key2']).mean()
double_grouped

               data1     data2
key1 key2
a    one   21.570160  2.858770
     two   18.888989  3.564747
b    one   25.916005  2.612066
     two   16.259812 -0.281612

In [9]:
double_grouped.index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['key1', 'key2'])

In [12]:
double_grouped.loc[('a', 'one')]

data1    21.57016
data2     2.85877
Name: (a, one), dtype: float64

In [20]:
province = pd.Series(['M', 'M', 'B', 'V', 'V'], index=list('abcde'))

df.groupby(province).mean()

Empty DataFrame
Columns: [data1, data2]
Index: []

In [21]:
province = pd.Series(['M', 'M', 'B', 'V', 'V'])

df.groupby(province).mean()

       data1     data2
B  25.916005  2.612066
M  24.902591  3.635938
V  14.241970  0.864399

In [22]:
df.groupby(province).size()

B    1
M    2
V    2
dtype: int64

In [24]:
df.groupby(province).std()

      data1     data2
B       NaN       NaN
M  8.504517  0.100679
V  2.853660  1.620705

### Iterating over groups

In [27]:
for group in df.groupby('key2'):
    print(type(group))

<class 'tuple'>
<class 'tuple'>

In [28]:
for id_, group in df.groupby('key2'):
    print(type(id_), type(group))

<class 'str'> <class 'pandas.core.frame.DataFrame'>
<class 'str'> <class 'pandas.core.frame.DataFrame'>

In [30]:
for id_, group in df.groupby('key2'):
    print(id_)
    print(group)

one
  key1 key2      data1     data2
0    a  one  30.916193  3.707129
2    b  one  25.916005  2.612066
4    a  one  12.224127  2.010411
two
  key1 key2      data1     data2
1    a  two  18.888989  3.564747
3    b  two  16.259812 -0.281612

### Selecting a column or subset of columns

In [34]:
df.groupby('key2')['data1'].sum()

key2
one    69.056325
two    35.148801
Name: data1, dtype: float64

## Data aggregation

In [37]:
df.groupby('key2').quantile(.9)

0.9       data1     data2
key2
one   29.916155  3.488116
two   18.626071  3.180111

In [40]:
gbobject = df.groupby('key2')
help(gbobject)

Help on DataFrameGroupBy in module pandas.core.groupby.groupby object:

class DataFrameGroupBy(NDFrameGroupBy)
 |  Class for grouping and aggregating relational data. See aggregate,
 |  transform, and apply functions on this object.
 |
 |  It's easiest to use obj.groupby(...) to use GroupBy, but you can also do:
 |
 |  ::
 |
 |      grouped = groupby(obj, ...)
 |
 |  Parameters
 |  ----------
 |  obj : pandas object
 |  axis : int, default 0
 |  level : int, default None
 |      Level of MultiIndex
 |  groupings : list of Grouping objects
 |      Most users should ignore this
 |  exclusions : array-like, optional
 |      List of columns to exclude
 |  name : string
 |      Most users should ignore this
 |
 |  Notes
 |  -----
 |  After grouping, see aggregate, apply, and transform functions. Here are
 |  some other brief notes about usage. When grouping by multiple groups, the
 |  result index will be a MultiIndex (hierarchical) by default.
 |
 |  Iteration produces (key, group) tuples, i.e. chunking the data by group. So
 |  you can write code like:
 |
 |  ::
 |
 |      grouped = obj.groupby(keys, axis=axis)
 |      for key, group in grouped:
 |          # do something with the data
 |
 |  Function calls on GroupBy, if not specially implemented, "dispatch" to the
 |  grouped data. So if you group a DataFrame and wish to invoke the std()
 |  method on each group, you can simply do:
 |
 |  ::
 |
 |      df.groupby(mapper).std()
 |
 |  rather than
 |
 |  ::
 |
 |      df.groupby(mapper).aggregate(np.std)
 |
 |  You can pass arguments to these "wrapped" functions, too.
 |
 |  See the online documentation for full exposition on these topics and much
 |  more
 |
 |  Returns
 |  -------
 |  **Attributes**
 |  groups : dict
 |      {group name -> group labels}
 |  len(grouped) : int
 |      Number of groups
 |
 |  Method resolution order:
 |      DataFrameGroupBy
 |      NDFrameGroupBy
 |      GroupBy
 |      _GroupBy
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  agg = aggregate(self, arg, *args, **kwargs)
 |
 |  aggregate(self, arg, *args, **kwargs)
 |      Aggregate using one or more operations over the specified axis.
 |
 |
 |
 |      Parameters
 |      ----------
 |      func : function, string, dictionary, or list of string/functions
 |          Function to use for aggregating the data. If a function, must either
 |          work when passed a DataFrame or when passed to DataFrame.apply. For
 |          a DataFrame, can pass a dict, if the keys are DataFrame column names.
 |
 |          Accepted combinations are:
 |
 |          - string function name.
 |          - function.
 |          - list of functions.
 |          - dict of column names -> functions (or list of functions).
 |
 |
 |      *args
 |          Positional arguments to pass to `func`.
 |      **kwargs
 |          Keyword arguments to pass to `func`.
 |
 |      Returns
 |      -------
 |      aggregated : DataFrame
 |
 |      Notes
 |      -----
 |      `agg` is an alias for `aggregate`. Use the alias.
 |
 |      A passed user-defined-function will be passed a Series for evaluation.
 |
 |      Examples
 |      --------
 |
 |      >>> df = pd.DataFrame({'A': [1, 1, 2, 2],
 |      ...                    'B': [1, 2, 3, 4],
 |      ...                    'C': np.random.randn(4)})
 |
 |      >>> df
 |         A  B         C
 |      0  1  1  0.362838
 |      1  1  2  0.227877
 |      2  2  3  1.267767
 |      3  2  4 -0.562860
 |
 |      The aggregation is for each column.
 |
 |      >>> df.groupby('A').agg('min')
 |         B         C
 |      A
 |      1  1  0.227877
 |      2  3 -0.562860
 |
 |      Multiple aggregations
 |
 |      >>> df.groupby('A').agg(['min', 'max'])
 |          B             C
 |        min max       min       max
 |      A
 |      1   1   2  0.227877  0.362838
 |      2   3   4 -0.562860  1.267767
 |
 |      Select a column for aggregation
 |
 |      >>> df.groupby('A').B.agg(['min', 'max'])
 |         min  max
 |      A
 |      1    1    2
 |      2    3    4
 |
 |      Different aggregations per column
 |
 |      >>> df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})
 |          B             C
 |        min max       sum
 |      A
 |      1   1   2  0.590716
 |      2   3   4  0.704907
 |
 |      See also
 |      --------
 |      pandas.DataFrame.groupby.apply
 |      pandas.DataFrame.groupby.transform
 |      pandas.DataFrame.aggregate
 |
 |  boxplot = boxplot_frame_groupby(grouped, subplots=True, column=None, fontsize=None, rot=0, grid=True, ax=None, figsize=None, layout=None, **kwds)
 |      Make box plots from DataFrameGroupBy data.
 |
 |      Parameters
 |      ----------
 |      grouped : Grouped DataFrame
 |      subplots :
 |          * ``False`` - no subplots will be used
 |          * ``True`` - create a subplot for each group
 |      column : column name or list of names, or vector
 |          Can be any valid input to groupby
 |      fontsize : int or string
 |      rot : label rotation angle
 |      grid : Setting this to True will show the grid
 |      ax : Matplotlib axis object, default None
 |      figsize : A tuple (width, height) in inches
 |      layout : tuple (optional)
 |          (rows, columns) for the layout of the plot
 |      `**kwds` : Keyword Arguments
 |          All other plotting keyword arguments to be passed to
 |          matplotlib's boxplot function
 |
 |      Returns
 |      -------
 |      dict of key/value = group key/DataFrame.boxplot return value
 |      or DataFrame.boxplot return value in case subplots=figures=False
 |
 |      Examples
 |      --------
 |      >>> import pandas
 |      >>> import numpy as np
 |      >>> import itertools
 |      >>>
 |      >>> tuples = [t for t in itertools.product(range(1000), range(4))]
 |      >>> index = pandas.MultiIndex.from_tuples(tuples, names=['lvl0', 'lvl1'])
 |      >>> data = np.random.randn(len(index),4)
 |      >>> df = pandas.DataFrame(data, columns=list('ABCD'), index=index)
 |      >>>
 |      >>> grouped = df.groupby(level='lvl1')
 |      >>> boxplot_frame_groupby(grouped)
 |      >>>
 |      >>> grouped = df.unstack(level='lvl1').groupby(level=0, axis=1)
 |      >>> boxplot_frame_groupby(grouped, subplots=False)
 |
 |  count(self)
 |      Compute count of group, excluding missing values
 |
 |  nunique(self, dropna=True)
 |      Return DataFrame with number of distinct observations per group for
 |      each column.
 |
 |      .. versionadded:: 0.20.0
 |
 |      Parameters
 |      ----------
 |      dropna : boolean, default True
 |          Don't include NaN in the counts.
 |
 |      Returns
 |      -------
 |      nunique: DataFrame
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({'id': ['spam', 'egg', 'egg', 'spam',
 |      ...                           'ham', 'ham'],
 |      ...                    'value1': [1, 5, 5, 2, 5, 5],
 |      ...                    'value2': list('abbaxy')})
 |      >>> df
 |           id  value1 value2
 |      0  spam       1      a
 |      1   egg       5      b
 |      2   egg       5      b
 |      3  spam       2      a
 |      4   ham       5      x
 |      5   ham       5      y
 |
 |      >>> df.groupby('id').nunique()
 |          id  value1  value2
 |      id
 |      egg    1       1       1
 |      ham    1       1       2
 |      spam   1       2       1
 |
 |      # check for rows with the same id but conflicting values
 |      >>> df.groupby('id').filter(lambda g: (g.nunique() > 1).any())
 |           id  value1 value2
 |      0  spam       1      a
 |      3  spam       2      a
 |      4   ham       5      x
 |      5   ham       5      y
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  corr
 |      Compute pairwise correlation of columns, excluding NA/null values
 |
 |      Parameters
 |      ----------
 |      method : {'pearson', 'kendall', 'spearman'}
 |          * pearson : standard correlation coefficient
 |          * kendall : Kendall Tau correlation coefficient
 |          * spearman : Spearman rank correlation
 |      min_periods : int, optional
 |          Minimum number of observations required per pair of columns
 |          to have a valid result. Currently only available for pearson
 |          and spearman correlation
 |
 |      Returns
 |      -------
 |      y : DataFrame
 |
 |  corrwith
 |      Compute pairwise correlation between rows or columns of two DataFrame
 |      objects.
 |
 |      Parameters
 |      ----------
 |      other : DataFrame, Series
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          0 or 'index' to compute column-wise, 1 or 'columns' for row-wise
 |      drop : boolean, default False
 |          Drop missing indices from result, default returns union of all
 |
 |      Returns
 |      -------
 |      correls : Series
 |
 |  cov
 |      Compute pairwise covariance of columns, excluding NA/null values.
 |
 |      Compute the pairwise covariance among the series of a DataFrame.
 |      The returned data frame is the `covariance matrix
 |      <https://en.wikipedia.org/wiki/Covariance_matrix>`__ of the columns
 |      of the DataFrame.
 |
 |      Both NA and null values are automatically excluded from the
 |      calculation. (See the note below about bias from missing values.)
 |      A threshold can be set for the minimum number of
 |      observations for each value created. Comparisons with observations
 |      below this threshold will be returned as ``NaN``.
 |
 |      This method is generally used for the analysis of time series data to
 |      understand the relationship between different measures
 |      across time.
 |
 |      Parameters
 |      ----------
 |      min_periods : int, optional
 |          Minimum number of observations required per pair of columns
 |          to have a valid result.
 |
 |      Returns
 |      -------
 |      DataFrame
 |          The covariance matrix of the series of the DataFrame.
 |
 |      See Also
 |      --------
 |      pandas.Series.cov : compute covariance with another Series
 |      pandas.core.window.EWM.cov: expoential weighted sample covariance
 |      pandas.core.window.Expanding.cov : expanding sample covariance
 |      pandas.core.window.Rolling.cov : rolling sample covariance
 |
 |      Notes
 |      -----
 |      Returns the covariance matrix of the DataFrame's time series.
 |      The covariance is normalized by N-1.
 |
 |      For DataFrames that have Series that are missing data (assuming that
 |      data is `missing at random
 |      <https://en.wikipedia.org/wiki/Missing_data#Missing_at_random>`__)
 |      the returned covariance matrix will be an unbiased estimate
 |      of the variance and covariance between the member Series.
 |
 |      However, for many applications this estimate may not be acceptable
 |      because the estimate covariance matrix is not guaranteed to be positive
 |      semi-definite. This could lead to estimate correlations having
 |      absolute values which are greater than one, and/or a non-invertible
 |      covariance matrix. See `Estimation of covariance matrices
 |      <http://en.wikipedia.org/w/index.php?title=Estimation_of_covariance_
 |      matrices>`__ for more details.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame([(1, 2), (0, 3), (2, 0), (1, 1)],
 |      ...                   columns=['dogs', 'cats'])
 |      >>> df.cov()
 |                dogs      cats
 |      dogs  0.666667 -1.000000
 |      cats -1.000000  1.666667
 |
 |      >>> np.random.seed(42)
 |      >>> df = pd.DataFrame(np.random.randn(1000, 5),
 |      ...                   columns=['a', 'b', 'c', 'd', 'e'])
 |      >>> df.cov()
 |                a         b         c         d         e
 |      a  0.998438 -0.020161  0.059277 -0.008943  0.014144
 |      b -0.020161  1.059352 -0.008543 -0.024738  0.009826
 |      c  0.059277 -0.008543  1.010670 -0.001486 -0.000271
 |      d -0.008943 -0.024738 -0.001486  0.921297 -0.013692
 |      e  0.014144  0.009826 -0.000271 -0.013692  0.977795
 |
 |      **Minimum number of periods**
 |
 |      This method also supports an optional ``min_periods`` keyword
 |      that specifies the required minimum number of non-NA observations for
 |      each column pair in order to have a valid result:
 |
 |      >>> np.random.seed(42)
 |      >>> df = pd.DataFrame(np.random.randn(20, 3),
 |      ...                   columns=['a', 'b', 'c'])
 |      >>> df.loc[df.index[:5], 'a'] = np.nan
 |      >>> df.loc[df.index[5:10], 'b'] = np.nan
 |      >>> df.cov(min_periods=12)
 |                a         b         c
 |      a  0.316741       NaN -0.150812
 |      b       NaN  1.248003  0.191417
 |      c -0.150812  0.191417  0.895202
 |
 |  diff
 |      First discrete difference of element.
 |
 |      Calculates the difference of a DataFrame element compared with another
 |      element in the DataFrame (default is the element in the same column
 |      of the previous row).
 |
 |      Parameters
 |      ----------
 |      periods : int, default 1
 |          Periods to shift for calculating difference, accepts negative
 |          values.
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          Take difference over rows (0) or columns (1).
 |
 |          .. versionadded:: 0.16.1.
 |
 |      Returns
 |      -------
 |      diffed : DataFrame
 |
 |      See Also
 |      --------
 |      Series.diff: First discrete difference for a Series.
 |      DataFrame.pct_change: Percent change over given number of periods.
 |      DataFrame.shift: Shift index by desired number of periods with an
 |          optional time freq.
 |
 |      Examples
 |      --------
 |      Difference with previous row
 |
 |      >>> df = pd.DataFrame({'a': [1, 2, 3, 4, 5, 6],
 |      ...                    'b': [1, 1, 2, 3, 5, 8],
 |      ...                    'c': [1, 4, 9, 16, 25, 36]})
 |      >>> df
 |         a  b   c
 |      0  1  1   1
 |      1  2  1   4
 |      2  3  2   9
 |      3  4  3  16
 |      4  5  5  25
 |      5  6  8  36
 |
 |      >>> df.diff()
 |           a    b     c
 |      0  NaN  NaN   NaN
 |      1  1.0  0.0   3.0
 |      2  1.0  1.0   5.0
 |      3  1.0  1.0   7.0
 |      4  1.0  2.0   9.0
 |      5  1.0  3.0  11.0
 |
 |      Difference with previous column
 |
 |      >>> df.diff(axis=1)
 |          a    b     c
 |      0 NaN  0.0   0.0
 |      1 NaN -1.0   3.0
 |      2 NaN -1.0   7.0
 |      3 NaN -1.0  13.0
 |      4 NaN  0.0  20.0
 |      5 NaN  2.0  28.0
 |
 |      Difference with 3rd previous row
 |
 |      >>> df.diff(periods=3)
 |           a    b     c
 |      0  NaN  NaN   NaN
 |      1  NaN  NaN   NaN
 |      2  NaN  NaN   NaN
 |      3  3.0  2.0  15.0
 |      4  3.0  4.0  21.0
 |      5  3.0  6.0  27.0
 |
 |      Difference with following row
 |
 |      >>> df.diff(periods=-1)
 |           a    b     c
 |      0 -1.0  0.0  -3.0
 |      1 -1.0 -1.0  -5.0
 |      2 -1.0 -1.0  -7.0
 |      3 -1.0 -2.0  -9.0
 |      4 -1.0 -3.0 -11.0
 |      5  NaN  NaN   NaN
 |
 |  dtypes
 |      Return the dtypes in the DataFrame.
 |
 |      This returns a Series with the data type of each column.
 |      The result's index is the original DataFrame's columns. Columns
 |      with mixed types are stored with the ``object`` dtype. See
 |      :ref:`the User Guide <basics.dtypes>` for more.
 |
 |      Returns
 |      -------
 |      pandas.Series
 |          The data type of each column.
 |
 |      See Also
 |      --------
 |      pandas.DataFrame.ftypes : dtype and sparsity information.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({'float': [1.0],
 |      ...                    'int': [1],
 |      ...                    'datetime': [pd.Timestamp('20180310')],
 |      ...                    'string': ['foo']})
 |      >>> df.dtypes
 |      float              float64
 |      int                  int64
 |      datetime    datetime64[ns]
 |      string              object
 |      dtype: object
 |
 |  fillna
 |      Fill NA/NaN values using the specified method
 |
 |      Parameters
 |      ----------
 |      value : scalar, dict, Series, or DataFrame
 |          Value to use to fill holes (e.g. 0), alternately a
 |          dict/Series/DataFrame of values specifying which value to use for
 |          each index (for a Series) or column (for a DataFrame). (values not
 |          in the dict/Series/DataFrame will not be filled). This value cannot
 |          be a list.
 |      method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
 |          Method to use for filling holes in reindexed Series
 |          pad / ffill: propagate last valid observation forward to next valid
 |          backfill / bfill: use NEXT valid observation to fill gap
 |      axis : {0 or 'index', 1 or 'columns'}
 |      inplace : boolean, default False
 |          If True, fill in place. Note: this will modify any
 |          other views on this object, (e.g. a no-copy slice for a column in a
 |          DataFrame).
 |      limit : int, default None
 |          If method is specified, this is the maximum number of consecutive
 |          NaN values to forward/backward fill. In other words, if there is
 |          a gap with more than this number of consecutive NaNs, it will only
 |          be partially filled. If method is not specified, this is the
 |          maximum number of entries along the entire axis where NaNs will be
 |          filled. Must be greater than 0 if not None.
 |      downcast : dict, default is None
 |          a dict of item->dtype of what to downcast if possible,
 |          or the string 'infer' which will try to downcast to an appropriate
 |          equal type (e.g. float64 to int64 if possible)
 |
 |      See Also
 |      --------
 |      interpolate : Fill NaN values using interpolation.
 |      reindex, asfreq
 |
 |      Returns
 |      -------
 |      filled : DataFrame
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
 |      ...                    [3, 4, np.nan, 1],
 |      ...                    [np.nan, np.nan, np.nan, 5],
 |      ...                    [np.nan, 3, np.nan, 4]],
 |      ...                    columns=list('ABCD'))
 |      >>> df
 |           A    B   C  D
 |      0  NaN  2.0 NaN  0
 |      1  3.0  4.0 NaN  1
 |      2  NaN  NaN NaN  5
 |      3  NaN  3.0 NaN  4
 |
 |      Replace all NaN elements with 0s.
 |
 |      >>> df.fillna(0)
 |          A   B   C   D
 |      0   0.0 2.0 0.0 0
 |      1   3.0 4.0 0.0 1
 |      2   0.0 0.0 0.0 5
 |      3   0.0 3.0 0.0 4
 |
 |      We can also propagate non-null values forward or backward.
 |
 |      >>> df.fillna(method='ffill')
 |          A   B   C   D
 |      0   NaN 2.0 NaN 0
 |      1   3.0 4.0 NaN 1
 |      2   3.0 4.0 NaN 5
 |      3   3.0 3.0 NaN 4
 |
 |      Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
 |      2, and 3 respectively.
 |
 |      >>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
 |      >>> df.fillna(value=values)
 |          A   B   C   D
 |      0   0.0 2.0 2.0 0
 |      1   3.0 4.0 2.0 1
 |      2   0.0 1.0 2.0 5
 |      3   0.0 3.0 2.0 4
 |
 |      Only replace the first NaN element.
 |
 |      >>> df.fillna(value=values, limit=1)
 |          A   B   C   D
 |      0   0.0 2.0 2.0 0
 |      1   3.0 4.0 NaN 1
 |      2   NaN 1.0 NaN 5
 |      3   NaN 3.0 NaN 4
 |
 |  hist
 |      Make a histogram of the DataFrame's.
 |
 |      A `histogram`_ is a representation of the distribution of data.
 |      This function calls :meth:`matplotlib.pyplot.hist`, on each series in
 |      the DataFrame, resulting in one histogram per column.
 |
 |      .. _histogram: https://en.wikipedia.org/wiki/Histogram
 |
 |      Parameters
 |      ----------
 |      data : DataFrame

In [43]:
def peak_to_peak(series):
    return series.max() - series.min()

gbobject.agg(peak_to_peak)

          data1     data2
key2
one   18.692065  1.696718
two    2.629177  3.846359

In [51]:
one_group = df[df['key2'] == 'one']
numeric_columns = one_group[['data1', 'data2']]
numeric_columns

       data1     data2
0  30.916193  3.707129
2  25.916005  2.612066
4  12.224127  2.010411

In [49]:
peak_to_peak(numeric_columns)

data1    18.692065
data2     1.696718
dtype: float64

In [52]:
gbobject.agg(np.sum)

          data1     data2
key2
one   69.056325  8.329606
two   35.148801  3.283135

In [53]:
gbobject.sum()

          data1     data2
key2
one   69.056325  8.329606
two   35.148801  3.283135

### Column-wise and multiple function application

In [54]:
!wget https://raw.githubusercontent.com/wesm/pydata-book/1st-edition/ch08/tips.csv

--2019-01-25 20:08:26--  https://raw.githubusercontent.com/wesm/pydata-book/1st-edition/ch08/tips.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.132.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.132.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7943 (7,8K) [text/plain]
Saving to: tips.csv

tips.csv            100%[===================>]   7,76K  --.-KB/s    in 0s

2019-01-25 20:08:27 (48,8 MB/s) - tips.csv saved [7943/7943]

In [57]:
df = pd.read_csv('tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [59]:
df.shape

(244, 7)

In [60]:
df.groupby('sex').sum()

        total_bill     tip  size
sex
Female     1570.95  246.51   214
Male       3256.82  485.07   413

In [61]:
df.groupby('sex').count()

        total_bill  tip  smoker  day  time  size
sex
Female          87   87      87   87    87    87
Male           157  157     157  157   157   157

In [62]:
df.groupby('sex').agg(['mean', 'std', 'sum'])

       total_bill                          tip                        size  \
             mean       std      sum      mean       std     sum      mean
sex
Female  18.056897  8.009209  1570.95  2.833448  1.159495  246.51  2.459770
Male    20.744076  9.246469  3256.82  3.089618  1.489102  485.07  2.630573


             std  sum
sex
Female  0.937644  214
Male    0.955997  413

In [65]:
stats = df.groupby('sex')[['total_bill', 'tip']].agg(['count', 'sum'])
stats

       total_bill            tip
            count      sum count     sum
sex
Female         87  1570.95    87  246.51
Male          157  3256.82   157  485.07

In [73]:
tips = stats['tip']
tips['sum'] / tips['count']

sex
Female    2.833448
Male      3.089618
dtype: float64

In [75]:
df.groupby('sex')[['total_bill', 'tip']].agg(['count', 'sum', peak_to_peak, lambda s: s[-1:]])

       total_bill                                  tip                       \
            count      sum peak_to_peak <lambda> count     sum peak_to_peak
sex
Female         87  1570.95        41.23    18.78    87  246.51          5.5
Male          157  3256.82        43.56    17.82   157  485.07          9.0


       <lambda>
sex
Female     3.00
Male       1.75

In [76]:
df.groupby('sex')[['total_bill', 'tip']].agg([('media', 'mean'), ('desviacion', np.std)])

       total_bill                  tip
            media desviacion     media desviacion
sex
Female  18.056897   8.009209  2.833448   1.159495
Male    20.744076   9.246469  3.089618   1.489102

## Group-wise operations and transformations

In [82]:
df.groupby('sex')[['total_bill', 'tip']].mean().add_prefix('avg_')

        avg_total_bill   avg_tip
sex
Female       18.056897  2.833448
Male         20.744076  3.089618

### Apply: General split-apply-combine

In [85]:
gbobject

In [88]:
gbobject.apply(np.sum)

          data1     data2 key1
key2
one   69.056325  8.329606  aba
two   35.148801  3.283135   ab

In [102]:
def top_5(group):
    print(type(group), group.shape)
    return group.sort_values(by='tip', ascending=False).iloc[:5]
    
top_5(df)

<class 'pandas.core.frame.DataFrame'> (244, 7)

     total_bill    tip   sex smoker   day    time  size
170       50.81  10.00  Male    Yes   Sat  Dinner     3
212       48.33   9.00  Male     No   Sat  Dinner     4
23        39.42   7.58  Male     No   Sat  Dinner     4
59        48.27   6.73  Male     No   Sat  Dinner     4
141       34.30   6.70  Male     No  Thur   Lunch     6

In [103]:
df.groupby('smoker').apply(top_5)

<class 'pandas.core.frame.DataFrame'> (151, 7)
<class 'pandas.core.frame.DataFrame'> (151, 7)
<class 'pandas.core.frame.DataFrame'> (93, 7)

            total_bill    tip     sex smoker   day    time  size
smoker
No     212       48.33   9.00    Male     No   Sat  Dinner     4
       23        39.42   7.58    Male     No   Sat  Dinner     4
       59        48.27   6.73    Male     No   Sat  Dinner     4
       141       34.30   6.70    Male     No  Thur   Lunch     6
       47        32.40   6.00    Male     No   Sun  Dinner     4
Yes    170       50.81  10.00    Male    Yes   Sat  Dinner     3
       183       23.17   6.50    Male    Yes   Sun  Dinner     4
       214       28.17   6.50  Female    Yes   Sat  Dinner     3
       181       23.33   5.65    Male    Yes   Sun  Dinner     2
       211       25.89   5.16    Male    Yes   Sat  Dinner     4

#### Suppressing the group keys

In [104]:
df.groupby('smoker', group_keys=False).apply(top_5)

<class 'pandas.core.frame.DataFrame'> (151, 7)
<class 'pandas.core.frame.DataFrame'> (151, 7)
<class 'pandas.core.frame.DataFrame'> (93, 7)

     total_bill    tip     sex smoker   day    time  size
212       48.33   9.00    Male     No   Sat  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
47        32.40   6.00    Male     No   Sun  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
181       23.33   5.65    Male    Yes   Sun  Dinner     2
211       25.89   5.16    Male    Yes   Sat  Dinner     4

### Quantile and bucket analysis

In [107]:
pd.cut(df['tip'], 5).value_counts()

(0.991, 2.8]    120
(2.8, 4.6]       93
(4.6, 6.4]       24
(6.4, 8.2]        5
(8.2, 10.0]       2
Name: tip, dtype: int64

In [110]:
pd.qcut(df['tip'], 4).value_counts()

(0.999, 2.0]     78
(3.562, 10.0]    61
(2.9, 3.562]     61
(2.0, 2.9]       44
Name: tip, dtype: int64

### Example: Filling missing values with group-specific values

In [119]:
with_holes = df.copy()
with_holes['tip'][::3] = np.nan
with_holes['total_bill'][::4] = np.nan
with_holes.head()

/home/dani/anaconda3/envs/master2019/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/dani/anaconda3/envs/master2019/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   total_bill   tip     sex smoker  day    time  size
0         NaN   NaN  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68   NaN    Male     No  Sun  Dinner     2
4         NaN  3.61  Female     No  Sun  Dinner     4

In [129]:
guesses.loc['No']

tip            3.180882
total_bill    17.810000
Name: No, dtype: float64

In [132]:
with_holes.groupby('smoker').apply(lambda group: group.fillna(group.mean()))

            total_bill       tip     sex smoker   day    time  size
smoker
No     0     18.851304  3.180882  Female     No   Sun  Dinner     2
       1     10.340000  1.660000    Male     No   Sun  Dinner     3
       2     21.010000  3.500000    Male     No   Sun  Dinner     3
       3     23.680000  3.180882    Male     No   Sun  Dinner     2
       4     18.851304  3.610000  Female     No   Sun  Dinner     4
       5     25.290000  4.710000    Male     No   Sun  Dinner     4
       6      8.770000  3.180882    Male     No   Sun  Dinner     2
       7     26.880000  3.120000    Male     No   Sun  Dinner     4
       8     18.851304  1.960000    Male     No   Sun  Dinner     2
       9     14.780000  3.180882    Male     No   Sun  Dinner     2
       10    10.270000  1.710000    Male     No   Sun  Dinner     2
       11    35.260000  5.000000  Female     No   Sun  Dinner     4
       12    18.851304  3.180882    Male     No   Sun  Dinner     2
       13    18.430000  3.000000    Male     No   Sun  Dinner     4
       14    14.830000  3.020000  Female     No   Sun  Dinner     2
       15    21.580000  3.180882    Male     No   Sun  Dinner     2
       16    18.851304  1.670000  Female     No   Sun  Dinner     3
       17    16.290000  3.710000    Male     No   Sun  Dinner     3
       18    16.970000  3.180882  Female     No   Sun  Dinner     3
       19    20.650000  3.350000    Male     No   Sat  Dinner     3
       20    18.851304  4.080000    Male     No   Sat  Dinner     2
       21    20.290000  3.180882  Female     No   Sat  Dinner     2
       22    15.770000  2.230000  Female     No   Sat  Dinner     2
       23    39.420000  7.580000    Male     No   Sat  Dinner     4
       24    18.851304  3.180882    Male     No   Sat  Dinner     2
       25    17.810000  2.340000    Male     No   Sat  Dinner     4
       26    13.370000  2.000000    Male     No   Sat  Dinner     2
       27    12.690000  3.180882    Male     No   Sat  Dinner     2
       28    18.851304  4.300000    Male     No   Sat  Dinner     2
       29    19.650000  3.000000  Female     No   Sat  Dinner     2
...                ...       ...     ...    ...   ...     ...   ...
Yes    203   16.400000  2.500000  Female    Yes  Thur   Lunch     2
       204   20.897794  3.066167    Male    Yes  Thur   Lunch     4
       205   16.470000  3.230000  Female    Yes  Thur   Lunch     3
       206   26.590000  3.410000    Male    Yes   Sat  Dinner     3
       207   38.730000  3.066167    Male    Yes   Sat  Dinner     4
       208   20.897794  2.030000    Male    Yes   Sat  Dinner     2
       209   12.760000  2.230000  Female    Yes   Sat  Dinner     2
       210   30.060000  3.066167    Male    Yes   Sat  Dinner     3
       211   25.890000  5.160000    Male    Yes   Sat  Dinner     4
       213   13.270000  3.066167  Female    Yes   Sat  Dinner     2
       214   28.170000  6.500000  Female    Yes   Sat  Dinner     3
       215   12.900000  1.100000  Female    Yes   Sat  Dinner     2
       216   20.897794  3.066167    Male    Yes   Sat  Dinner     5
       217   11.590000  1.500000    Male    Yes   Sat  Dinner     2
       218    7.740000  1.440000    Male    Yes   Sat  Dinner     2
       219   30.140000  3.066167  Female    Yes   Sat  Dinner     4
       220   20.897794  2.200000    Male    Yes   Fri   Lunch     2
       221   13.420000  3.480000  Female    Yes   Fri   Lunch     2
       222    8.580000  3.066167    Male    Yes   Fri   Lunch     1
       224   20.897794  1.580000    Male    Yes   Fri   Lunch     2
       225   16.270000  3.066167  Female    Yes   Fri   Lunch     2
       226   10.090000  2.000000  Female    Yes   Fri   Lunch     2
       229   22.120000  2.880000  Female    Yes   Sat  Dinner     2
       230   24.010000  2.000000    Male    Yes   Sat  Dinner     4
       231   15.690000  3.066167    Male    Yes   Sat  Dinner     3
       234   15.530000  3.066167    Male    Yes   Sat  Dinner     2
       236   20.897794  1.000000    Male    Yes   Sat  Dinner     2
       237   32.830000  3.066167    Male    Yes   Sat  Dinner     2
       240   20.897794  3.066167  Female    Yes   Sat  Dinner     2
       241   22.670000  2.000000    Male    Yes   Sat  Dinner     2

[244 rows x 7 columns]

## Pivot tables and Cross-tabulation

In [139]:
df.pivot_table(index='day', columns='time', aggfunc='count')

        sex         size       smoker          tip       total_bill
time Dinner Lunch Dinner Lunch Dinner Lunch Dinner Lunch     Dinner Lunch
day
Fri    12.0   7.0   12.0   7.0   12.0   7.0   12.0   7.0       12.0   7.0
Sat    87.0   NaN   87.0   NaN   87.0   NaN   87.0   NaN       87.0   NaN
Sun    76.0   NaN   76.0   NaN   76.0   NaN   76.0   NaN       76.0   NaN
Thur    1.0  61.0    1.0  61.0    1.0  61.0    1.0  61.0        1.0  61.0

In [143]:
df.pivot_table(index = 'sex', columns='smoker', values=['total_bill', 'tip'])

             tip           total_bill
smoker        No       Yes         No        Yes
sex
Female  2.773519  2.931515  18.105185  17.977879
Male    3.113402  3.051167  19.791237  22.284500

In [144]:
df.pivot_table(index = 'sex', columns='smoker', values='tip', aggfunc='mean')

smoker        No       Yes
sex
Female  2.773519  2.931515
Male    3.113402  3.051167