# Pandas For data Science: Combining Dates And Times

Based on Pandas Practices by Kevin Markham at PYCON CLEVELAND 2018

#### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Reading Datastes

   - Dataset 1: Rhode Island Dataset from [Stanford Open Policing Project](https://openpolicing.stanford.edu/)

In [2]:
ri = pd.read_csv('police.csv')
ri.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### Exercise 7: Which year had the least number of stops?

___First Way___

In [3]:
# String Method: .slice(from,to)

ri['stop_year'] = ri['stop_date'].str.slice(0,4)

In [4]:
# 2005 2558

stops_by_year = ri['stop_year'].value_counts()
stops_by_year

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: stop_year, dtype: int64

___Second Way: More Pythonic___

In [5]:
# Changing stop_date from objet to datetime64 type

ri['stop_date'] = pd.to_datetime(ri['stop_date'])

In [6]:
ri.dtypes

stop_date             datetime64[ns]
stop_time                     object
county_name                  float64
driver_gender                 object
driver_age_raw               float64
driver_age                   float64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
search_type                   object
stop_outcome                  object
is_arrested                   object
stop_duration                 object
drugs_related_stop              bool
stop_year                     object
dtype: object

In [7]:
ri['stop_date'].dt.year.value_counts().sort_values().index[0]

2005

In [8]:
# Top 3 years which had the least number of stops

ri['stop_date'].dt.year.value_counts().sort_values().head(3)

2005    2558
2010    7561
2009    7908
Name: stop_date, dtype: int64