# Jupyter Fundamentals

Cursiva _Cursiva_

Negrita __Negrita__

Fórmulas

$$ \mu = \frac{}$$

Imagenes

In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
x = np.arange(1,10)

In [3]:
x

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# Functions

In [4]:
def distance(point_1,point_2=(0,0)):
    
    '''Returns the Euclidean distance 
       between two two-dimensional points'''
    
    x  = point_2[0] - point_1[0]
    y  = point_2[1] - point_1[1]
    
    return (x ** 2 + y ** 2) ** 0.5

In [5]:
distance((5,3),(2,4))

3.1622776601683795

In [6]:
distance((5,3))

5.830951894845301

In [7]:
import pandas as pd

In [8]:
file = pd.read_csv('http://bit.ly/uforeports')

In [9]:
file.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [10]:
def multiple():
    x=2
    y=3
    
    return [x,y]


multiple()

[2, 3]

#### Desempaquetar

In [15]:
a, b = multiple()

In [16]:
a

2

In [17]:
b

3

In [18]:
def noreturn():
    x = 2
    y = 3

noreturn()

In [19]:
print(noreturn())

None

# Entornos distintos dentro de una función

In [20]:
x = 1e9

In [21]:
x

1000000000.0

In [24]:
def scopes():
    
    x=42
    print(x)

In [26]:
scopes()

42

In [27]:
x

1000000000.0