# ENUMERATE

In [2]:
rocky_planets = ('Mercury','Venus','Earth','Mars')

for element in enumerate(rocky_planets):
    print(element)

(0, 'Mercury')
(1, 'Venus')
(2, 'Earth')
(3, 'Mars')

In [5]:
rocky_planets = ('Mercury','Venus','Earth','Mars')

for element in enumerate(rocky_planets):
   print('Sol %s is also known as %s' % (element[0] + 1,element[1]))

Sol 1 is also known as Mercury
Sol 2 is also known as Venus
Sol 3 is also known as Earth
Sol 4 is also known as Mars

In [7]:
# less pythonic

rocky_planets = ('Mercury','Venus','Earth','Mars')

for index in range(len(rocky_planets)):
   print('Sol %s is also known as %s' % (index + 1,rocky_planets[index]))

Sol 1 is also known as Mercury
Sol 2 is also known as Venus
Sol 3 is also known as Earth
Sol 4 is also known as Mars

# ZIP

### Mezcla elementos de n listas de m elementos

No tienen porque tener el mismo tamaño. Para de mezclar en la lista de menor tamaño

In [10]:
# number of moons

moons = [0,0,1,2]

In [11]:
list(zip(rocky_planets,moons))

[('Mercury', 0), ('Venus', 0), ('Earth', 1), ('Mars', 2)]

In [12]:
for planet, n in zip(rocky_planets,moons):
    print('Planet %s has %d moons' % (planet,n))

Planet Mercury has 0 moons
Planet Venus has 0 moons
Planet Earth has 1 moons
Planet Mars has 2 moons

# SETS

### Conjunto de valores únicos dentro de una estrcutura de datos cuyo ordenamiento no se puede garantizar

Comprobar membresía...

In [16]:
my_set = {1,2,3,4,3,4,3,3,2,1,5}

In [17]:
my_set

{1, 2, 3, 4, 5}

# COMPREHENSIONS

[expr for var in collection]

Forma rápida de hacer un map

In [19]:
[n**3 for n in range(5)]

[0, 1, 8, 27, 64]

In [21]:
[n**3 for n in range(10) if n % 2 == 0]

[0, 8, 64, 216, 512]

In [36]:
points_3D = [(0,4,3),(0,4,1),(2,7,1)]

In [37]:
[(x**2+y**2+z**2)**0.5 for x,y,z in points_3D]

[5.0, 4.123105625617661, 7.3484692283495345]

In [38]:
[coordinate**2 for point in points_3D for coordinate in point]

[0, 16, 9, 0, 16, 1, 4, 49, 1]