# Jupyter Fundamentals

Cursiva _Cursiva_

Negrita __Negrita__

Fórmulas

$$ \mu = \frac{}$$

Imagenes

In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
x = np.arange(1,10)

In [3]:
x

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

# Functions

In [4]:
def distance(point_1,point_2=(0,0)):
    
    '''Returns the Euclidean distance 
       between two two-dimensional points'''
    
    x  = point_2[0] - point_1[0]
    y  = point_2[1] - point_1[1]
    
    return (x ** 2 + y ** 2) ** 0.5

In [5]:
distance((5,3),(2,4))

3.1622776601683795

In [6]:
distance((5,3))

5.830951894845301

In [7]:
import pandas as pd

In [8]:
file = pd.read_csv('http://bit.ly/uforeports')

In [9]:
file.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [10]:
def multiple():
    x=2
    y=3
    
    return [x,y]


multiple()

[2, 3]

#### Desempaquetar

In [11]:
a, b = multiple()

In [12]:
a

2

In [13]:
b

3

In [14]:
def noreturn():
    x = 2
    y = 3

noreturn()

In [15]:
print(noreturn())

None

# Entornos distintos dentro de una función

## Variable x dentro de la funcion es diferente a variable x fuera de la función

In [16]:
x = 1e9

In [17]:
x

1000000000.0

In [18]:
def scopes():
    
    x=42
    print(x)

In [19]:
scopes()

42

In [20]:
x

1000000000.0

Como no encuentra x dentro del entorno de la función busca x del entorno global


_ESTO NO SE DEBE HACER!!!!!!_

In [21]:
def scopes():
    print(x)

In [22]:
scopes()

1000000000.0

In [23]:
def function_to_implement():
    pass

In [24]:
# Forma de poner una función que se espera crear o que no se quiere declarar

In [25]:
function_to_implement()

In [26]:
print(function_to_implement())

None

In [27]:
True is True

True

In [28]:
True is not True

False

In [29]:
def my_sqrt(a):
    if a < 0:
        return None
    else:
        return a ** 0.5

my_sqrt(9)

3.0

In [30]:
my_sqrt(-5)

In [31]:
import random

dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_BuiltinMethodType',
 '_MethodType',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_inst',
 '_itertools',
 '_log',
 '_pi',
 '_random',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [32]:
# Un dado

random.randint(1,6)

2

He creado un modulo hello.py en este directorio

In [33]:
import hello

In [34]:
hello.goodmorning()

Hello! Have a nice day!

In [35]:
# Dónde estoy?

In [36]:
# 1º Forma

!pwd

/home/dsc/Repos/MasterDataScience/03_Python_Fundamentals_Class

In [37]:
# 2º Forma

import os

os.getcwd()

'/home/dsc/Repos/MasterDataScience/03_Python_Fundamentals_Class'

In [75]:
# Ejercicio 1

def max_var(a,b,c):
    if a > b and a > c:
        print('%s es mayor que %s y %s'% (a,b,c))
    elif c > b:
        print('%s es mayor que %s y %s'% (c,a,b))
    else:
        print('%s es mayor que %s y %s'% (b,a,c))

In [78]:
max_var(30,20,50)

50 es mayor que 30 y 20

In [79]:
# Ejercicio 2

def centenario(name,year):
    
    if isinstance(year,int):
        print('%s will reach 100 years in %s' % (name,year+100))
    else:
        print('That %s is not a right date' % (year))

In [80]:
centenario('Juan',1946)

Juan will reach 100 years in 2046

In [81]:
centenario('Antonio',1946.9)

That 1946.9 is not a right date

# Data types

In [88]:
k = 1298
type(k)

int

In [89]:
k.bit_length()

11

In [90]:
'a string'

'a string'

In [91]:
"a string"

'a string'

In [92]:
'"Hi", he said'

'"Hi", he said'

In [93]:
print('Stephen King\'s Carrey')

Stephen King's Carrey

In [95]:
print('Stephen\nKing\'s\nCarrey')

Stephen
King's
Carrey

In [96]:
scary_book = 'Stephen King\'s Carrey'

In [99]:
sentence = scary_book + ' is scary'

In [100]:
sentence

"Stephen King's Carrey is scary"

# Puedes Consultar más información

## String Methods TOP

[Python Webpage](https://docs.python.org/3/)

In [101]:
sentence.lower()

"stephen king's carrey is scary"

In [102]:
sentence.islower()

False

In [103]:
sentence

"Stephen King's Carrey is scary"

In [104]:
sentence.upper()

"STEPHEN KING'S CARREY IS SCARY"

In [105]:
sentence.capitalize()

"Stephen king's carrey is scary"

In [106]:
sentence.title()

"Stephen King'S Carrey Is Scary"

In [107]:
sentence.split()

['Stephen', "King's", 'Carrey', 'is', 'scary']

In [108]:
sentence.strip()

"Stephen King's Carrey is scary"

In [109]:
sentence_list = sentence.split()

In [110]:
sentence_list

['Stephen', "King's", 'Carrey', 'is', 'scary']

In [111]:
','.join(sentence_list)

"Stephen,King's,Carrey,is,scary"

In [112]:
' '.join(sentence_list)

"Stephen King's Carrey is scary"

In [113]:
name = 'Eduardo'
list(name)

['E', 'd', 'u', 'a', 'r', 'd', 'o']

In [114]:
'%s lives in Spain' % (name)

'Eduardo lives in Spain'

In [115]:
'%s lives in Spain, %f' % (name,30)

'Eduardo lives in Spain, 30.000000'

In [116]:
sentence[0]

'S'

In [118]:
# [INCLUSIVO, EXCLUSIVO]

sentence[1:10]

'tephen Ki'

In [120]:
sentence[-1:]

'y'

In [121]:
# desde:hasta:paso

sentence[::2]

"SehnKn' aryi cr"

In [122]:
sentence[::-1]

"yracs si yerraC s'gniK nehpetS"

In [123]:
False and False or True

True

In [124]:
# AND > OR

In [125]:
bool([1,2,3,4])

True

In [126]:
bool([])

False

In [127]:
bool('')

False

In [128]:
bool('Hola')

True